<div class="grid-container">
	<div class="grid-33 tablet-grid-50 mobile-grid-100 bowtie-style">
		<img src="{{ 'bowtie-styles-phillip.jpg' | asset_url }}" />
		<p>Phillip 2&#189;" Butterfly</p>
	</div>
	<div class="grid-33 tablet-grid-50 mobile-grid-100 bowtie-style">
		<img src="{{ 'bowtie-styles-louie.jpg' | asset_url }}" />
		<p>Louie 2&#8540;" Diamond End</p>
	</div>
	<div class="grid-33 tablet-grid-50 mobile-grid-100 bowtie-style">
		<img src="{{ 'bowtie-styles-henry.jpg' | asset_url }}" />
		<p>Henry 2&#188;" Classic</p>
	</div>
	<div class="grid-33 tablet-grid-50 mobile-grid-100 bowtie-style">
		<img src="{{ 'bowtie-styles-jackson.jpg' | asset_url }}" />
		<p>Jackson 1&#190;" Straight</p>
	</div>
	<div class="grid-33 tablet-grid-50 mobile-grid-100 bowtie-style">
		<img src="{{ 'bowtie-styles-stanley.jpg' | asset_url }}" />
		<p>Stanley 2" Diamond End</p>
	</div>
	<div class="grid-33 tablet-grid-50 mobile-grid-100 bowtie-style">
		<img src="{{ 'bowtie-styles-banded.jpg' | asset_url }}" />
		<p>Banded Pre Tied</p>
	</div>
</div>
