<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">Shop by Color<span class="caret"></span></button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+red">Red</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+green">Green</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+black">Black</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+silver">Silver</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+navy">Navy</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+purple">Purple</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+pink">Pink</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+teal">Teal</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+yellow">Yellow</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+orange">Orange</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+blue">Blue</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+brown">Brown</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+grey">Grey</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+lavender">Lavender</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+coral">Coral</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+gold">Gold</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+white">White</a></li>
		<li><a tabindex="-1" href="/search?type=product&q={{collection.title}}+burgundy">Burgundy</a></li>
	</ul>
</div>
